@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  color:#495057;
}

.navbar{
  height:60px;
  box-shadow:  0 15px 20px -20px rgba(115,162,208,0.1),  0 0 15px rgba(115,162,208,0.06);
}

.widget-shadow{
  box-shadow:  0 15px 20px -20px rgba(115,162,208,0.1),  0 0 15px rgba(115,162,208,0.06);

}

.bg-main{
  background: #F9FBFD;
}
.button-secondary:hover{
  color:#1e252b;
  background: #f8f9fa;

}
.button-secondary:active{
  color:white;
  background: #005792;

}

.button-primary{
  color:white;
  background: #005792;
}

.colorPrimary{
  color: #005792;
}
.colorSecondary{
  color:#798892;
}
.colorWarning{
  color: #FDA700;
}
.colorSuccess{
  color: #21AE8C;
}
.colorInfo{
  color: #1A86D0;
}
.colorDanger{
  color: #FD5F00;
}
.colorInverse{
  color: #002B49;
}
.colorTextColor{
  color: #495057;
}
.colorGray{
  color: #D7DFE6;
}

.bgPrimary{
  background: #005792;
}
.bgSecondary{
  background:#798892;
}
.bgWarning{
  background: #FDA700;
}
.bgSuccess{
  background: #21AE8C;
}
.bgInfo{
  background: #1A86D0;
}
.bgDanger{
  background: #FD5F00;
}
.bgInverse{
  background: #002B49;
}
.bgTextColor{
  background: #495057;
}
.bgGray{
  background: #D7DFE6;
}